footer.footer {
  background-color: $lichtzwart;
  padding: $tussenruimte 0;
  color: $lichtgrijs;
  text-align: center;

  img {
    margin: 1rem;
  }

  a {
    color: $goud;
    transition: 1s ease all;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  .social {
    i {
      margin: 0.5rem;
    }
    // img {
    //   @include img-responsive;
    // }
  }

  .bottom {
    display: flex;
    justify-content: space-around;
    & > * {
      // only direct children
      border: 1px solid green;
    }
  }
}

@media screen and (max-width: 550px) {
  footer.footer {
    .bottom {
      display: block;
      & > * {
        // only direct children
        border: 1px solid pink;
      }
    }
  }
}
