* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90vw;
  margin: 0 auto;
  border: 1px dashed red;
}

.kolommen {
  display: flex;
  .tweekolom {
    flex: 1 1 50%;
  }
  .driekolom {
    flex: 1 1 33%;
  }
  .vierkolom {
    flex: 1 1 25%;
  }
}

@media screen and (max-width: 550px) {
  .kolommen {
    display: block;
    .tweekolom {
      //flex: 1 1 50%;
    }
    .driekolom {
      //flex: 1 1 33%;
    }
    .vierkolom {
      //flex: 1 1 25%;
    }
  }
}

@mixin img-responsive() {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

// .left {
//   width: 50%;
//   padding: 50px;
//   border: 1px solid red;
//   box-sizing: border-box;
// }
