.story {
  .image {
    margin: $tussenruimte;
    border: 1px solid red;
    &:nth-child(1) {
      margin-right: 0;
    }
    // &:last-child {
    //   margin-left: 0;
    // }
    img {
      @include img-responsive;
      border: 1px solid green;
    }
  }
  .right {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: $tussenruimte;
  }
}
