// headers

// paragraphs

// anchors

a {
  color: blueviolet;
  .read-more {
    border: 1px solid;
    color: #d0963e;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 7px 23px;
    text-transform: uppercase;
  }
}

// lists
